body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

h1, h2, h3, h4,h5{
    color: #eb2d2e;
}

.underline-colored-link a {
    color: #eb2d2e;
    text-decoration: underline;
}

.underline-colored-link a:hover {
    color: #eb2d2e;
    font-weight: bold;
}

thead td {
    color: #eb2d2e;
}

hr {
    border-color: #eb2d2e;
}

.section-split {
    border-width: 8px;
}

section {
    margin-top: 40px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fde8e8;
}

.table-bordered {
    border: 1px solid #fde8e8;
}

.rounded {
    border-radius: 1.00rem !important;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: 900;
}

.btn-red {
    color: #eb2d2e;
    border-color: #eb2d2e;
    border-radius: 15px;
    border-width: 2px;
}
.btn-red:hover {
    color: white;
    background-color: #eb2d2e;
}



.bg-red {
    background-color: #ff4342;
    border-color: #ff4342;
}


.footer-bottom {
    margin-top: 50px;
    padding: 15px 0 17px 0;
    background: #444;
    text-align: left;
    color: #aaa;
}

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }