<!-- Header Image -->
<img class="img-fluid my-3" style="opacity: 0.8" src="/images/header_city_of_fairfax.png" />
<!-- End of Header Image -->
<!-- Text Header -->
<h1 class="text-center my-3">City of Fairfax, VA</h1>
<!-- End of Text Header -->

<hr class="section-split" />



<h4>Contents</h4>
<!-- UL List -->
<ul class="pb-4 underline-colored-link">
    <li>
        <a href="#history">History</a>
        <ul>
            <li>
                <a href="#important_buildings">Important buildings</a>
            </li>
            <li>
                <a href="#sites">Sites on the National Register of Historic Places</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#geography">Geography</a>
    </li>

    <li>
        <a href="#demographics">Demographics</a>
    </li>

    <li>
        <a href="#videos">Videos</a>
    </li>
</ul>
<!-- End of UL List -->


<section id="history">
    <h4>History</h4>
    <hr />
    <section id="important_buildings">
        <h5>Important buildings</h5>
        <p>
            The city derives its name from Thomas Fairfax, 6th Lord Fairfax of Cameron, who was awarded 5,000,000 acres (20,000 km2) of land in northern Virginia by King Charles.[7] The area that the city now encompasses was settled in the early 18th century by farmers from Virginia's Tidewater region.[8] The town of "Providence" was established on the site by an act of the state legislature in 1805.[9]
        </p>

        <div class="row">
            <div class="col-md-6 offset-md-3">

                <!-- Youtube Video Embed https://getbootstrap.com/docs/4.1/utilities/embed/ -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/nmE7WDNpJDE" allowfullscreen></iframe>
                </div>
                <figcaption class="figure-caption text-center">How the City of Fairfax Came to Be</figcaption>
                <!-- End of Video Embed -->

            </div>
        </div>

        <p>
            The scene of the first land battle of the Civil War, the Battle of Fairfax Court House took place here on June 1, 1861, after a Union scouting party clashed with the local militia with neither side gaining advantage. A second battle took place here two years later on June 27, 1863, where Union troops were defeated. This battle delayed the movements of Confederate cavalry chief Jeb Stuart with disastrous consequences for Lee at Gettysburg a few days later.[10]
        </p>

        <p>
            Fairfax was officially renamed the "Town of Fairfax" in 1859.[9] It was incorporated as a town 1874.[9] It was incorporated as a city in 1961 by court order.[9] Under Virginia law the city was separated from Fairfax County yet remains the county seat.[11] In 1904 a trolley line connected Fairfax with Washington, D.C.[12]
        </p>
    </section>


    <section id="sites">
        <h5>Sites on the National Register of Historic Places</h5>

        <!-- Table http://getbootstrap.com/docs/4.1/content/tables/ -->
        <table class="table table-striped table-bordered table-sm mt-3">
            <thead>
                <tr>
                    <td>Site</td>
                    <td>Built</td>
                    <td>Address</td>
                    <td>Listed</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>29 Diner[b]</td>
                    <td>1947</td>
                    <td>10536 Fairfax Boulevard</td>
                    <td>1992</td>
                </tr>
                <tr>
                    <td>Blenheim</td>
                    <td>1855</td>
                    <td>3610 Old Lee Highway</td>
                    <td>2001</td>
                </tr>
                <tr>
                    <td>City of Fairfax Historic District</td>
                    <td>1800</td>
                    <td>Junction of VA 236 and VA 123</td>
                    <td>1987</td>
                </tr>
                <tr>
                    <td>Old Fairfax County Courthouse[c]</td>
                    <td>1800</td>
                    <td>4000 Chain Bridge Road</td>
                    <td>1974</td>
                </tr>
                <tr>
                    <td>Old Fairfax County Jail[c]</td>
                    <td>1891</td>
                    <td>10475 Main Street</td>
                    <td>1981</td>
                </tr>
                <tr>
                    <td>Fairfax Public School[a]</td>
                    <td>1873</td>
                    <td>10209 Main Street</td>
                    <td>1992</td>
                </tr>
                <tr>
                    <td>Ratcliffe-Allison House</td>
                    <td>1812</td>
                    <td>10386 Main Street</td>
                    <td>1973</td>
                </tr>
            </tbody>
        </table>
        <!-- End of Table -->

    </section>
</section>


<section id="geography">
    <h4>Geography</h4>
    <hr />
    <p>
        The city of Fairfax is located close to the geographic center of Fairfax County, at 38°51′9″N 77°18′15″W (38.852612, −77.304377). According to the United States Census Bureau, the city has a total area of 6.3 square miles (16.3 km2), of which all but 0.04 square miles (0.1 km2) is land.[4]
    </p>
    <p>
        While the city is the county seat, a small portion of the county comprising the courthouse complex, the jail and a small area nearby is itself an exclave of the county within the city.[23][24][25] Fairfax County's Government Center is west of the City of Fairfax.[26]
    </p>
</section>


<section id="demographics">
    <h4>Demographics</h4>
    <hr />
    <p>
        As of the census[32] of 2010, there were 22,565 people, 8,347 households, and 5,545 families residing in the city. The population density was 3,581.7 people per square mile (1382.9/km²). There were 8,680 housing units at an average density of 1,377.8 per square mile (532.0/km²). The racial makeup of the city was 69.6% White, 4.7% Black or African American, 0.5% Native American, 15.2% Asian, 0.1% Pacific Islander, 5.9% from other races, and 4.0% from two or more races. 15.8% of the population were Hispanic or Latino of any race.
    </p>
    <p>
        In 2000 there were 8,347 households out of which 28.2% had children under the age of 18 living with them, 53.1% were married couples living together, 9.6% had a female householder with no husband present, and 33.6% were non-families. 24.0% of all households were made up of individuals and 8.4% had someone living alone who was 65 years of age or older. The average household size was 2.64 and the average family size was 3.11.
    </p>

    <!-- Figure with caption http://getbootstrap.com/docs/4.1/content/figures/ -->
    <div class="text-center">
        <figure class="figure">
            <img src="/images/city_of_fairfax_parade.png" class="img-fluid" alt="Responsive image">
            <figcaption class="figure-caption text-center">2011 4th of July parade participants Just Klownin Virginia Car Club</figcaption>
        </figure>
    </div>
    <!-- End of Figure with caption -->

    <p>
        In the city, the population was spread out with 20.4% under the age of 18, 10.2% from 18 to 24, 36.2% from 25 to 44, 27.6% from 45 to 64, and 13.6% who were 65 years of age or older. The median age was 39.1 years. For every 100 females, there were 97.2 males. For every 100 females age 18 and over, there were 95.6 males.
    </p>
</section>


<section id="videos">
    <h4>Videos</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 my-2">

            <!-- Youtube Video Embed https://getbootstrap.com/docs/4.1/utilities/embed/ -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/k2sWYn4EJc0" allowfullscreen></iframe>
            </div>
            <figcaption class="figure-caption text-center">Living in Fairfax City</figcaption>
            <!-- End of Video Embed -->

        </div>

        <div class="col-md-6 my-2">

            <!-- Youtube Video Embed https://getbootstrap.com/docs/4.1/utilities/embed/ -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/lybtx8XqAP4" allowfullscreen></iframe>
            </div>
            <figcaption class="figure-caption text-center">How big of a city is Fairfax, VA?</figcaption>
            <!-- End of Video Embed -->

        </div>
    </div>
</section>

<section class="underline-colored-link">
    <a href="/Home/Index">Back to Home Page</a>
</section>
<hr class="section-split" />